html
      head
       title Hello World
      body
       h1 Here is the header
       hr
       block content
       hr
       img src='./image/images1187175_dji_0011.jpg'
       h1 Here is the footer