html
      head
       title Hello World
      body
       h1 Here is the header
       hr
       block content
       hr
       h3 Hello
       img.className#IdName(src="./image/stereoscope-2288496_1920.jpg" alt="Image Title")
       h1 Here is the footer